// Base App Structure
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .header-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: wheat;
        height: 10vh;
        box-shadow: 4px 0 7px rgb(231, 230, 230);;
        margin: 2px 1.5vw 2vw 1.5vw;
        z-index: 100;
    }

    .body-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 96vw;
}

.user-table {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
